@model ExemploUm.Models.Usuario

@{
    ViewBag.Title = "Resultado";
}

<div class="fundo1">
    <img src="~/Controllers/img/fundo.png">
</div>
<div class="sla">

    <hr />
    <dl class="dl-horizontal">
        <dt id="nome">
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfSenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfSenha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Livro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Casa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Casa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet)
        </dd>

    </dl>
</div>
<div class="resultado">
    <img src="~/Controllers/img/resultado.png">
</div>
<p id="voltar">
    @Html.ActionLink("Voltar", "Index")
</p>
